version: '3.9'
services:
  redis:
    image: redis:7-alpine
    command: redis-server --appendonly yes --maxmemory 128mb --maxmemory-policy allkeys-lru
    volumes:
      - redis_data:/data
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  tor:
    image: debridmediamanager/tor
    deploy:
      replicas: 1

  web:
    image: dmm-prod:latest
    ports:
      - 3000:3000
    env_file:
      - .env
      - .env.local
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - tor
      - redis
    deploy:
      replicas: 4
      restart_policy:
        condition: on-failure

volumes:
  redis_data:
