@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind dark;

body {
	background-color: rgb(17, 24, 39);
	color: azure;
}

a {
	color: inherit;
}

/* Add these new utility classes for haptic feedback */
.haptic {
	@apply transition-transform duration-75 active:scale-95;
	-webkit-tap-highlight-color: transparent;
}

.haptic-sm {
	@apply transition-transform duration-75 active:scale-[0.98];
	-webkit-tap-highlight-color: transparent;
}
